/* go from most broad to more specific */

body {
    max-width: 800px;
    background-color: beige;
    margin: auto;
}


h1 {
color:aqua;
font-size: 60px;
}

section img{
    width: 10%;
}

/* this is how you comment on CSS */